@import url("https://p.typekit.net/p.css?s=1&k=wvl2kgf&ht=tk&f=18085&a=84797321&app=typekit&e=css");

@font-face {
  font-family: "flood-std";
  src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
        body {
            margin: 0;
        }
        
        .header_div {
            display: flex;
            flex-direction: column;
            padding: 32px;
        }
        
        .first_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .green {
            width: 48%;
            font-family: Helvetica;
            font-size: 18px;
            color: #354463;
        }
        
        .info {
            font-size: 14px;
            letter-spacing: -0.14px;
            line-height: 12px;
            color: #354463;
            font-family: Helvetica;
        }
        
        .btn_row {
            padding: 8px;
            background-color: #C1F7D5;
            color: #354463;
            border: 1px solid white;
            border-radius: 30px;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            font-size: 18px;
            cursor: pointer;
        }
        
        .img_1 {
            background-image: url('images/annie-spratt-135307-unsplash.png');
            background-color: #354463;
            padding: 32px;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
            position: relative;
        }
        
        .slog {
            font-family: 'flood-std';
            font-size: 34px;
            color: #FFFFFF;
            font-weight: bold;
        }
        
        .whiteboard {
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }
        
        .issue {
            background-color: #354463;
            color: white;
            font-size: 14;
            font-family: Helvetica;
            text-align: center;
            padding: 10px;
            margin-top: -39px;
        }
        
        .issue span {
            text-align: center;
            width: 50%;
            padding: 20px;
        }
        
        .para_slogan {
            font: normal normal bold 22px/28px Helvetica;
            color: #354463;
            font-size: 22px;
            margin-top: 18px;
        }
        
        .link_title {
            background-image: url('images/Read more about this environmental and social cause.svg');
            background-size: cover;
            width: 100%;
            margin: 15px 0;
        }
        
        .take_action {
            width: 148px;
            position: absolute;
            padding-left: 0;
            padding-right: 0;
            bottom: -15px;
            align-self: center;
        }
        
        .hide_it {
            visibility: hidden;
            text-decoration: underline;
        }
        
        .third_sec {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            background-color: #C1F7D5;
            padding: 32px;
            padding-top: 80px;
            grid-gap: 17px;
        }
        
        .third_sec span {
            color: #354463;
            font: normal normal bold 18px/22px Helvetica;
        }
        
        .third_sec p {
            text-align: left;
            font: normal normal 300 14px/20px Helvetica;
            letter-spacing: -0.14px;
            color: #354463;
            opacity: 1;
        }
        .what_we_do{
            display: flex;
            flex-direction: column;
            background: #354463 0% 0% no-repeat padding-box;
            align-items: center;
            padding:43px 0px;
        }
        .wwd_heading{
            width: 160px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            text-align: center;
            padding: 13px 0;
        }
        .wwd_heading span{
            font: normal normal normal 14px/17px Helvetica;
            letter-spacing: 0.56px;
            color: #354463;
        }
        .wwd_desc{
            text-align: center;
            font: normal normal bold 18px/26px Helvetica;
            letter-spacing: 0px;
            color: #FFFFFF;
            padding: 0 38px;
        }
        .wwd_whiteboard{
            background-color: white;
            margin:  0 32px;
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            
        }

        .wwd_image{
            background-image: url('images/tree-planting-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding: 30%;
            padding-top: 25%;
            margin: -30px 28px;
            background-color: #354463;
    
        }
        .wwd_image_1{
            background-image: url('images/advocacy.png');
        }
        .wwd_image_2{
            background-image: url('images/education-training.png');
        }
        .wwd_imghead{
            padding: 20% 8% 28px;
            text-align: center;
        }
        .wwd_imghead span{
            text-align: center;
            font: normal normal bold 18px/22px Helvetica;
            letter-spacing: 0px;
            color: #354463;
            
        }
        .wwd_imgdesc{
            text-align: center;
            font: normal normal 300 14px/20px Helvetica;
            letter-spacing: -0.14px;
            color: #354463;
            opacity: 1;
            padding-top: 22px;
            
        }
        .wwd_btn{
            background: #C1F7D5;
            border-radius: 100px;
            opacity: 1;
            align-self: center;
            padding: 10px 30px;
            margin-bottom: 25px;
        }
        .wwd_btn span{
            font: normal normal bold 16px/20px Helvetica;
            color: #354463;
            
        }
        .take_action_today_main{
            background-image: url('images/Did you know background.png');
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 64px 32px 32px 32px;
        }
    .tatm_heading{
        text-align: left;
        font-size: 32px;
        font-family: 'flood-std';
        color: #FFFFFF;
        width: 60%;
    }
    .tatm_btn{
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        font: normal normal bold 16px/20px Helvetica;
        padding:15px;
        width: 152px;
        color: #354463;
    }
    
    .tatm_whiteboard{
        background-color: white;
        padding: 0 30px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }
    .tatm_whiteboard_upper{
        background: #354463 0% 0% no-repeat padding-box;
        opacity: 1;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        align-self: center;
        margin-top: -25px;
        padding:15px 15px;
    }
   
    .tatm_whiteboard_left{
        padding-top: 20px;

    }
    .tatm_whiteboard_left span{
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;   
        color: #354463; 
    }
    .tatm_whiteboard_left p{
        color: #354463; 
        font-size: 16px;
        font-family: Helvetica;
        margin-top: 10px;
    }
    
    .twitter,.fb{
        background:  #C1F7D5 0% 0% no-repeat padding-box;
        width: 32px;
        height: 32px;
        border-radius: 40px;
        margin-left: 10px;
        margin-top: 20px;
    }
    img{
        width: 20px;
        height: 20px;
        margin:5px;
    }
    .next_elements{
        margin-top: 20px;
    }
    /* stories */
    .stories{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 32px 32px 32px;
    }
    .stories_back{
        background: transparent url('images/lady-baby.png') 0% 0% no-repeat padding-box;
        width: 90%;
        height: 312px;
    }
    
    .stories_btn{
        align-self: center;
        background: #354463 0% 0% no-repeat padding-box;
        opacity: 1;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        margin-top: -25px;
        padding:15px 15px;
        width: 160px;
        margin-left: 62px;
        text-align: center;
    }
    .stories_para{
        height: 296px;
        background: none;
        background-color: #354463;
        padding: 29px 32px 32px;
        text-align: center;
        margin-top: 40px;
    }
    .stories_para p{
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;

    }
    .stories_para_read{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .s{
        text-align: center;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #FFFFFF;
    }
    .stories_read{
        width: 156px;
       
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;  
        padding: 15px 10px;
        margin-top: 40px;
        align-self: flex-start;
    }
    
    @media all and (max-width: 1024px) and (min-width: 640px) {
            .header_div {
                flex-direction: row;
                padding: 20px 64px;
                justify-content: space-between;
            }
            .next_elements{
                margin-top: 40px;
            }
            .green {
                width: 44%;
                font-family: Helvetica;
                font-size: 22px;
                color: #354463;
                line-height: 29px;
            }
            .first_row {
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
            }
            .info {
                display: flex;
                flex-direction: row;
                font-size: 18px;
            }
            .info p {
                margin-bottom: 10px;
                padding-right: 25px;
            }
            .btn_div {
                justify-content: center;
                align-self: center;
            }
            
            .btn_row {
                background-color: #C1F7D5;
                color: #354463;
                border: 1px solid white;
                border-radius: 30px;
                font-weight: bold;
                font-size: 18px;
                align-self: center;
                text-align: center;
                padding: 15px;
                margin-bottom: 10px;
            }
            .img_1 {
                padding: 64px;
                padding-bottom: 80px;
            }
            .third_sec {
                padding: 64px;
                padding-top: 80px;
            }
            .whiteboard {
                padding: 40px;
                margin-top: 80px;
            }
            .para_slogan {
                font: normal normal bold 36px/46px Helvetica;
            }
            

            .issue {
                align-self: flex-start;
                margin-top: -55px;
            }
            .hide_it {
                visibility: visible;
                color: #354463;
                font-family: Helvetica;
            }
            .link_title {
                background-image: none;
                margin-top: 0px;
                padding-bottom: 10px;
            }
            .take_action {
                align-self: center;
            }
            
            .wwd_heading{
                align-self: flex-start;
                margin-left: 64px;
            }
            .wwd_desc{
                text-align: left;
                font: normal normal bold 32px/40px Helvetica;
                letter-spacing: 0px;
                color: #FFFFFF;
                padding: 0 64px;
            }
            .wwd_whiteboard{
                display: flex;
                flex-direction: column;
                margin: 70px 64px;
                padding-bottom: 20px;
                height: 280px;
                position: relative;
            }
            .wwd_row_class{
                display: flex;
                flex-direction: row;
            }
            
            .wwd_image{
                width: 0px;
                height: 0px;
                padding: 90px 150px ;
                background-color: #354463;
        
            }
            .wwd_imghead{
                padding: 4% 0px 28px;
                text-align: left;
                width: 30%;
            }
           
            .wwd_imgdesc{
                    text-align: left;
                    font: normal normal 300 14px/20px Helvetica;
                    letter-spacing: -0.14px;
                    color: #354463;
                    opacity: 1;
                    padding-top: 22px;
            }
            .wwd_btn{
                background: #C1F7D5;
                border-radius: 100px;
                opacity: 1;
                align-self: center;
                padding: 8px 20px;
                cursor: pointer;
                position: absolute;
                bottom: 80px;
                left: 200px;
            }
            .take_action_today_main{
                flex-direction: row;
                padding: 32px 64px;
            }
            .tatm_whiteboard{
                width: 200px
               
            }
            .all_wb{
                display: flex;
                flex-direction: column;
                margin-top: 64px;
            }
            .tatm_heading{
                font-size: 44px;
                width: 30%;
                margin-top: -350px;
            }
            .tatm_btn{
                background: #C1F7D5 0% 0% no-repeat padding-box;
                border-radius: 100px;
                opacity: 1;
                text-align: center;
                font: normal normal bold 16px/20px Helvetica;
                padding:15px;
                width: 152px;
                color: #354463;
            }
            .tatm_whiteboard_upper{
                align-self: flex-start;
            }
            .stories{
                display: flex;
                align-items: center;
                padding: 32px 64px;
            }
            .stories_back{
                width: 600px;
                margin-top: 30px;
                
                
            }
            .stories_btn{
                margin-left: 50px;
                width: 80px;
                padding:8px 0;
                margin-top: -15px;


            }
            .stories_para{
                background: none;
                background-color: #354463;
                padding: 10px 64px 0;
                text-align: center;
                width:220px;
                height: 180px;
                margin-top: -120px;
                align-self: flex-start;

            }
            .stories_para p{
                text-align: center;
                font: normal normal bold 14px/18px Helvetica;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
            .stories_para_read{
                    margin-top:78px;
            }
            .s{
                text-align: left;
                font: normal normal normal 11px/13px Helvetica;
                letter-spacing: 0.44px;
                color: #FFFFFF;
            }
            .stories_read{
                width: 156px;
               
                background: #C1F7D5 0% 0% no-repeat padding-box;
                border-radius: 100px;
                text-align: center;
                font: normal normal bold 18px/22px Helvetica;
                letter-spacing: 0px;
                color: #354463;  
                padding: 15px 10px;
                margin-top: 40px;
            }

        }
        
        @media all and (min-width:1025px) {
            .header_div {
                flex-direction: row;
                padding: 0px 120px;
                justify-content: space-between;
            }
            .green {
                width: 28%;
                font-family: Helvetica;
                font-size: 22px;
                color: #354463;
                line-height: 29px;
            }
            .first_row {
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;
            }
            .info {
                display: flex;
                flex-direction: row;
                font-size: 16px;
                align-self: center;
            }
            .info p {
                padding-right: 25px;
            }
            .btn_div {
                justify-content: center;
                align-self: center;
            }
            .btn_row {
                background-color: #C1F7D5;
                color: #354463;
                border: 1px solid white;
                border-radius: 30px;
                font-weight: bold;
                font-size: 18px;
                align-self: center;
                text-align: center;
                padding: 15px;
                margin-bottom: 10px;
            }
            .slog {
                margin-right: 35%;
                margin-top: 4%;
            }
            .img_1 {
                padding-top: 50px;
                padding-left: 100px;
                background-size: cover;
                padding-bottom: 80px;
            }
            .third_sec {
                padding-left: 100px;
                padding-top: 80px;
                padding-bottom: 60px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                grid-gap: 0;
            }
            .third_sec span {
                text-align: left;
                font: normal normal bold 28px/36px Helvetica;
                letter-spacing: 0px;
                color: #354463;
                opacity: 1;
            }
            .third_sec p {
                text-align: left;
                font: normal normal 300 16px/24px Helvetica;
                letter-spacing: -0.16px;
                color: #354463;
                opacity: 1;
                width: 80%;
            }
            .make_row {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
            .para_slogan {
                font: normal normal bold 28px/36px Helvetica;
                margin-top: 0;
            }
           
            .whiteboard {
                width: 30%;
                padding: 60px;
                padding-bottom: 40px;
                padding-top: 40px;
            }
            .hide_it {
                visibility: visible;
                color: #354463;
                font-family: Helvetica;
            }
            .link_title {
                background-image: none;
                margin-top: 0px;
                padding-bottom: 10px;
            }
            .issue {
                background-color: #354463;
                color: white;
                font-size: 14;
                font-family: Helvetica;
                text-align: center;
                margin-top: -59px;
                align-self: flex-start;
            }
            .issue span {
                text-align: center;
                width: 50%;
                padding: 20px;
            }
            .take_action {
                align-self: center;
            }
            .wwd_all{
                display: flex;
                margin: 0px 100px;
            }
            .wwd_heading{
                align-self: flex-start;
                margin-left: 100px;
            }
            .wwd_desc{
                text-align: left;
                font: normal normal bold 32px/40px Helvetica;
                letter-spacing: 0px;
                color: #FFFFFF;
                padding: 0 100px;
            }
            
            .wwd_whiteboard{
                display: flex;
                flex-direction: column;
                margin: 70px 20px;
                padding-bottom: 20px;
                width: 300px;
                height: 450px;
                margin-bottom: 50px;
                
            }

            .wwd_image{
                width: 300px;
                height: 0px;
                padding: 90px 0;
                background-color: #354463;
                margin-left: 20px;
        
            }
            
            .wwd_imghead{
                padding: 20% 20px 28px;
                text-align: left;
                font: normal normal bold 28px/20px Helvetica;
                letter-spacing: 0px;
                color: #354463;
                width: 50%;

            }
           
            .wwd_imgdesc{
                    text-align: left;
                    font: normal normal 300 16px/24px Helvetica;
                    letter-spacing: -0.16px;
                    color: #354463;
                    opacity: 1;
                    padding-top: 22px;
                    width: 160%;
            }
            .wwd_btn{
                background: #C1F7D5;
                border-radius: 100px;
                opacity: 1;
                align-self: flex-start;
                padding: 8px 20px;
                cursor: pointer;
                margin-left: 20px;
            }
            .take_action_today_main{
                flex-direction: row;
                padding: 32px 100px;
            }
            .tatm_whiteboard{
                
                padding: 0 64px;
                height: 150px;
                
               

            }
            .tatm_heading{
                font-size: 54px;
                margin-top: -350px;
            }
            .tatm_btn{
                background: #C1F7D5 0% 0% no-repeat padding-box;
                border-radius: 100px;
                opacity: 1;
                text-align: center;
                font: normal normal bold 16px/20px Helvetica;
                padding:15px;
                width: 152px;
                color: #354463;
            }
            .tatm_whiteboard_upper{
                align-self: flex-start;
            }
            .all_wb{
                display: flex;
                flex-direction: column;
                
            }
            .stories{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                padding: 64px 100px;
            }
            .stories_back{
                width: 100%;
            }
            .stories_para{
                height: 150px;
                background: none;
                background-color: #354463;
                padding: 10px 64px 0;
                text-align: center;
                margin-top: 10px;
                margin-right: -30px;
            }
            .stories_para p{
                text-align: center;
                font: normal normal bold 16px/22px Helvetica;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
        
            }
            .stories_para_read{
                    margin-top:78px;
            }
            .s{
                text-align: center;
                font: normal normal normal 11px/13px Helvetica;
                letter-spacing: 0.44px;
                color: #FFFFFF;
            }
            .stories_read{
                width: 156px;
               
                background: #C1F7D5 0% 0% no-repeat padding-box;
                border-radius: 100px;
                text-align: center;
                font: normal normal bold 18px/22px Helvetica;
                letter-spacing: 0px;
                color: #354463;  
                padding: 15px 10px;
                margin-top: 40px;
            }
        }